*.dvi*
*.info*
*.c.texi
*.ps
*.pdf
*.toc
*.aux
*.log
*.tmp
*.cp
*.cps
*.fn
*.fns
*.vr
*.vrs
*.tp
*.tps
*.ky
*.kys
*.pg
*.pgs

texis
top-menu.texi
chapters.texi
summary.texi
stamp-*
distinfo
dir-add.texinfo
dir-add.texi

libm-err.texi
