*.aux
*.c.texi
*.cp
*.cps
*.dvi*
*.fn
*.fns
*.info*
*.ky
*.kys
*.log
*.pdf
*.pg
*.pgs
*.ps
*.tmp
*.toc
*.tp
*.tps
*.vr
*.vrs
chapters.texi
dir-add.texi
dir-add.texinfo
libm-err.texi
stamp-*
summary.texi
texis
top-menu.texi
version.texi
